
.footer{
    background-color: #2c3e50;
}



.footer ul {
    padding-left: 0;
    list-style: none;
    gap: 2px;
    display: inline-block;
}

.footer a {
    color: #ebe7e7; 
    text-decoration: none;
}

.footer a:hover {
    color: #3498db; 
    text-decoration: underline;
}


.footer .social-media {
    display: flex;
    gap: 15px;
}

.social-media a {
    font-size: 24px;
    color: #db7171;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #3498db; /* Highlight social icons on hover */
}




.footer h3 {
    font-weight: bold;
    margin-bottom: 1px;
    color: #ebe7e7;
}

.footer ul {
    padding-left: 0;
    list-style: none;
}

.footer a {
    color: #ebe7e7;
    text-decoration: underline;
 
}


.footer a:hover {
    color: #3498db;
    text-decoration: underline;
}

.footer .social-media a {
    font-size: 24px;
    
    color: #1d1b1b;
    transition: color 0.3s ease;
}

.footer .social-media a:hover {
    color: #f84a4a;
}

@media (min-width: 768px) {
    .footer .container {
        display: flex; 
        justify-content: space-between; 
        gap: 2px; 
    }

   
}





@media (max-width: 767px) {
    .footer .container {
        flex-direction: column; 
        align-items: center; 
    }

    .footer .col {
        margin-bottom: 2px;
    }

    .footer .social-media {
        justify-content: center; 
    }
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
    margin-right: 20px;
}

.paragraph {
    text-align: center;
    font-size: 1.3rem; 
    color: #ebe7e7;
    padding: 2px 0; 
}

