/* General container styling */
.team-performance-container {
    padding: 25px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto; /* Enables horizontal scrolling for wide tables */
  }
  
  /* Title Styling */
  .title {
    font-size: 2.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #0c0c0c;
    padding-bottom: 5px;
  }
  
  /* Table styling */
  .team-performance-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden; /* Rounded corners for the table */
  }
  
  .team-performance-table th,
  .team-performance-table td {
    padding: 16px 20px;
    text-align: center;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Header styling */
  .team-performance-table th {
    background-color: #4d4949;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 20px;
  }
  
  .team-performance-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .team-performance-table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .team-performance-table td {
    background-color: #fff;
  }
  
  /* Styling for completion percentage column */
  .team-performance-table td:nth-child(4) {
    font-weight: 600;
    color: #161718; /* Green color for positive completion */
  }
  
  .team-performance-table td:nth-child(5) {
    color: #161718;
    font-weight: 600;
  }
  
  /* Responsive adjustments */
  @media screen and (max-width: 1024px) {
    .team-performance-container {
      padding: 20px;
    }
  
    .title {
      font-size: 1.9rem;
    }
  
    .team-performance-table th,
    .team-performance-table td {
      padding: 12px;
      font-size: 15px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .team-performance-table th,
    .team-performance-table td {
      padding: 10px;
      font-size: 14px;
    }
  
    .team-performance-container {
      padding: 15px;
    }
  
    .title {
      font-size: 1.7rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .team-performance-container {
      padding: 10px;
    }
  
    .title {
      font-size: 1.5rem;
    }
  
    .team-performance-table th,
    .team-performance-table td {
      padding: 8px;
      font-size: 12px;
    }
  }
  